In [1]:
2 + 2

4

In [2]:
print ("hello world")

hello world

In [3]:
book_title = "Harry  Potter"

In [4]:
book_title

'Harry  Potter'

In [5]:
print(book_title)

Harry  Potter

In [6]:
year = 1997
print(year)

1997

In [8]:
price = 19.95

In [9]:
type(price)

float

In [10]:
3 > 4

False

In [11]:
9 > 6

True

In [12]:
5 != 7

True

In [13]:
5 == 5

True

In [14]:
numbers = [1, 2, 3]

In [15]:
for number in numbers: 
    print(number)

1
2
3

In [17]:
for number in numbers:
    double = number * 2
    print(double)
print("Zahlen multipliziert")

2
4
6
Zahlen multipliziert

In [18]:
len(numbers)

3

In [19]:
authors = ["Darwin", "Hawkins", "Merlin", "Feynman"]

In [20]:
len(authors)

4

In [21]:
authors[³]

SyntaxError: invalid character in identifier (<ipython-input-21-ea1cc1299716>, line 1)

In [23]:
authors[3]
print("zählung beginnt mit 0")

zählung beginnt mit 0

In [24]:
book_title[0:4]

'Harr'

In [25]:
book_title[5:]

'  Potter'

In [26]:
authors_and_books = {"Jemison" : "Wind", "Darwin" : "Species", "Hawking" : "Nutshell"}

In [27]:
authors_and_books["Jemison"]

'Wind'

In [29]:
temp = 20
if temp > 15: 
    print("it's warm")

it's warm

In [39]:
temp = 15
if temp >= 15: 
    print("it's warm")
elif temp < 5: 
    print ("it's cold")

it's warm

# Wetterbericht
wie ist es **heute**

In [41]:
# Kommentarfunktion
temp = 13
if temp >= 15: 
    print("it's warm")
elif temp < 5: 
    print ("it's cold") #noch ein Kommentar
else:
    print("nowhereland")

nowhereland

In [42]:
author = "Jaen"

In [44]:
author.upper()
# Methode, nicht Funktion

'JAEN'

In [45]:
author.replace("a", "XXX")

'JXXXen'

In [46]:
author
# Variable wurde mit replace nicht geändert, für Änderung wäre author = author.replace ...

'Jaen'